#####Qidi X_CF Pro
[include stepper.cfg]
[include mainsail.cfg]
[include extruder.cfg]
[include macros.cfg]
[include print_macros.cfg]

[mcu]
restart_method: command
serial: /dev/ttyAMA0


[printer]
kinematics: cartesian
max_velocity: 300  
max_accel: 3000			        #Max 4000
max_z_velocity: 15			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[stepper_z]
position_endstop: 308.115

[safe_z_home]
home_xy_position: 150, 125 
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5


#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
##  Uncomment below for SpiderVersion 1.x
#sensor_pin: PC3 # TB Position
##  Uncomment below for SpiderVersion 2.2
sensor_pin: PC0 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[bed_mesh]
horizontal_move_z: 8
speed: 200
mesh_min: 20,20
mesh_max: 250,200
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 5
fade_target: 0


[bltouch]
#	Bltouch - If you use this section , please comment the [probe] section
#	More infomation at : https://www.klipper3d.org/BLTouch.html
#	This bltouch is not used for Z height, only Quad Gantry Leveling
#	In Z+ Position
sensor_pin: ^PB14 #PD0
#	In Y+ Position
control_pin: PD0 #PB14
x_offset: -28.00
y_offset: 0
z_offset: 5
speed: 30
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
##  Uncomment below for SpiderVersion 1.x
#pin: PB0
##  Uncomment below for SpiderVersion 2.2
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##  Uncomment below for SpiderVersion 2.2
pin: PA14
max_power: 1
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0


[idle_timeout]
timeout: 1800

# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -100,-100 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:-100,-100
# speed:100
# z_hop:10
   


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -2.335000, -2.206250, -2.198750, -2.101250, -1.977500
#*# 	  -2.337500, -2.246250, -2.216250, -2.128750, -1.995000
#*# 	  -2.380000, -2.275000, -2.205000, -2.120000, -1.978750
#*# 	  -2.400000, -2.260000, -2.247500, -2.112500, -2.007500
#*# 	  -2.507500, -2.341250, -2.238750, -2.198750, -2.023750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 250.0
#*# min_y = 20.0
#*# max_y = 200.0
